<!-- prettier-ignore -->
{% extends 'base.html' %}

<!-- prettier-ignore -->
{% block meta %}
<title>Wishlist Ajax</title>
<script>
  let tab;
  function show(data) {
    tab = `<tr>
            <th>Nama Barang</th>
            <th>Harga Barang</th>
            <th>Deskripsi</th>
         </tr>`;

    for (let r of data) {
      tab += `<tr> 
    <td>${r.fields.nama_barang} </td>
    <td>${r.fields.harga_barang}</td>
    <td>${r.fields.deskripsi}</td> 
</tr>`;
    }

    document.getElementById("table").innerHTML = tab;
  }

  function loadData() {
    $.get("{% url 'wishlist:show_json' %}", function (data) {
      show(data);
      console.log(data);
    });
  }

  $(document).ready(function () {
    loadData();
    $("#button").click(function () {
      console.log("clicked");
      loadData();
    });
  });

  $(document).on("submit", "#buatproject", function (e) {
    e.preventDefault();
    $.ajax({
      type: "POST",
      url: "{% url 'wishlist:create' %}",
      data: {
        nama_barang: $("#nama_barang").val(),
        harga_barang: $("#harga_barang").val(),
        deskripsi: $("#deskripsi").val(),
        csrfmiddlewaretoken: "{{ csrf_token }}",
      },
      dataType: "json",
      success: function () {
        alert("Proyek Berhasil Ditambahkan!");
        loadData();
      },
    });
  });

  function clickCounter() {
    if (typeof Storage !== "undefined") {
      if (sessionStorage.clickcount) {
        sessionStorage.clickcount = Number(sessionStorage.clickcount) + 1;
      } else {
        sessionStorage.clickcount = 1;
      }
      document.getElementById("result").innerHTML =
        "Counter: " + sessionStorage.clickcount;
    } else {
      document.getElementById("result").innerHTML =
        "Sorry, your browser does not support web storage...";
    }
  }
  function clickCounter1() {
    if (typeof Storage !== "undefined") {
      if (localStorage.clickcount) {
        localStorage.clickcount = Number(localStorage.clickcount) + 1;
      } else {
        localStorage.clickcount = 1;
      }
      document.getElementById("result1").innerHTML =
        "Counter: " + localStorage.clickcount;
    } else {
      document.getElementById("result1").innerHTML =
        "Sorry, your browser does not support web storage...";
    }
  }
</script>
{% endblock meta %}
<!-- prettier-ignore -->
{% block content %}

<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">{{nama}}</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <button id="button" class="nav-link">Load Data</button>
        </li>
        <li class="nav-item">
          <button
            type="button"
            class="nav-link"
            data-bs-toggle="modal"
            data-bs-target="#exampleModal"
          >
            Tambah Data
          </button>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'wishlist:logout' %}">Logout</a>
        </li>
        <li class="nav-item flex items-center gap-2">
          <button onclick="clickCounter()" type="button">
            Click me! (sessionStorage)
          </button>
          <div id="result" class="mr-2"></div>
        </li>
        <li class="nav-item flex items-center gap-2">
          <button onclick="clickCounter1()" type="button">
            Click me! (localStorage)
          </button>
          <div id="result1"></div>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Tambah Wishlist</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <form action="" id="buatproject">
        {% csrf_token %}
        <div class="modal-body space-y-5">
          <div class="w-full">
            <p class="">Nama</p>
            <input
              type="text"
              name="nama_barang"
              id="nama_barang"
              class="form-control rounded-md border border-gray-400 w-full"
              placeholder="Nama"
            />
          </div>
          <div class="w-full">
            <p class="">Harga</p>
            <input
              type="number"
              name="harga_barang"
              id="harga_barang"
              class="form-control rounded-md border border-gray-400 w-full"
              placeholder="Harga"
            />
          </div>
          <div class="w-full">
            <p class="">Deskripsi</p>
            <input
              type="text"
              name="deskripsi"
              id="deskripsi"
              class="form-control rounded-md border border-gray-400 w-full"
              placeholder="Deskripsi"
            />
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Close
          </button>
          <button
            type="submit"
            class="btn btn-primary"
            id="button"
            data-bs-dismiss="modal"
          >
            Post
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<table border="1" class="table table-bordered" id="table"></table>

{% endblock content %}
